@import "variables";
@import "mixins/breakpoints";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;

  @include breakpoint($breakpoint-small) {
    width: initial;
  }
}

.wrap {
  width: 90%;

  @include breakpoint($breakpoint-small) {
    width: initial;
  }
}

.wrap,
.profile {
  width:    1100px;
  margin:   0 auto;
  overflow: hidden;
}

fieldset,
a,
img {
  border: none;
}

.indent {
  padding-left: 40px;
}

p {
  margin: 0;
}

fieldset {
  margin:  0;
  padding: 0;
}

ul {
  margin:  0;
  padding: 0;
}

.row {
  display: flex;

  .side {
    width: 25%;
  }

  .pagecontent {
    width: 75%;
    background: #FFF;
    padding: 16px;
    border-radius: 4px;
  }
}

.side {
  .list {
    border-top: 0;
    margin-top: 5px;
  }
  li {
    &.active {
      a {
        background-color: $color-white!important;
        border-radius: 3px 0px 0px 3px;
      }
    }

    a {
      border-bottom: 0!important;
    }
  }
}